*
!*/
!.gitignore
!*.h
!*.c
!*.cc
!*.sln
!*.vcxproj
!*.vcxproj.filters

!*.ini
!*.yaml
!*.md
!*.pdf
!*.xlsx
!*.docx
!*.sh

!Makefile*
!Dockerfile*

!lib/**/*.dll
!lib/**/*.lib
!lib/**/*.so
!lib/**/*.xml
!lib/**/*.dtd

.idea/
build/
image.sh
lib/maCliApi_Patch3.7/
cmake_debug/
cmake-build-debug/
